jsonlines
openai==0.27.0
datasets
tenacity
greenlet>=3.0.0
astunparse
torch
transformers
accelerate
aiohttp
aiosignal
async-timeout
attrs
backoff
certifi
charset-normalizer
frozenlist
idna
mpmath
multidict
numpy
requests
sympy
tqdm
urllib3
yarl
pandas
litellm
gymnasium
playwright>=1.40.0
Pillow
evaluate
types-tqdm
tiktoken
aiolimiter
beartype==0.12.0
flask
nltk
text-generation
transformers==4.33.2
